[Unit]
Description=Ghost++ Bot
After=bnetd.service
Requires=bnetd.service

[Service]
User=root
Restart=always
Type=forking
ExecStart=/home/ubuntu/ghost++/ghost++.sh

[Install]
WantedBy=multi-user.target